<% if obj.errors.any? %>
<div class="container">
	<div class="col-md-10">
		<div class="alert alert-danger" role= "alert">
			<div class="alert-hading">
				<h2 class="alert-title">
					<%= pluralize(obj.errors.count, "error") %>
					prohibited this article from saving:
				</h2>
				<div class="alert-body">
					<ul>
						<% obj.errors.full_messages.each do |msg| %>
 						<li>
						<%= msg %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<% end %>