<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Alpha blog", root_path, class: "navbar-brand" , id: "logo" %> 

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      
    <%= link_to "Articles" , articles_path , class: "navitem" , id: "article"%>
      

    <ul class="navbar-nav mr-auto">
        
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>


      <div class="dropdown">
  <button class="btn btn-outline-success dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown">
    Actions
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "New Article" , new_article_path ,class: "navitem" , id: "newarticle" %>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>